@page "/board/list"
@inject NavigationManager NavigationManager
@inject BoardListViewModel viewModel

<h1>Boards</h1>
<button class="btn btn-primary" @onclick="NavigateToCreate">Create New</button>
<hr />
<h3>Boards List</h3>
<div style="cursor: pointer; margin: 5px 0 10px 0; font-size: 1.2rem" @onclick="Refresh"><span style="color: blue">Refresh</span> <i class="oi oi-reload" aria-hidden="true"></i></div>

@if (ViewModel == null || ViewModel.Boards == null)
{
    <span>Loading...</span>
}
else if (!ViewModel.Boards.Any())
{
    <span>Nothing to see here..</span>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in ViewModel.Boards)
            {
                <tr>
                    <td>@board.Id</td>
                    <td>@board.Name</td>
                    <td>
                        <button class="btn btn-info" @onclick="(() => Edit(board.Id))">Edit</button> |
                        <button class="btn btn-danger" @onclick="(() => Delete(board.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @PrevButtonCssState">
                <a class="page-link" href="javascript: void(0)" tabindex="-1" @onclick="@Prev">Previous</a>
            </li>
            @*<li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>*@
            <li class="page-item @NextButtonCssState">
                <a class="page-link" href="javascript: void(0)" @onclick="@Next">Next</a>
            </li>
        </ul>
    </nav>
}

@code {

    private const string ActiveCssClass = "active";
    private const string DisabledCssClass = "disabled";

    protected string PrevButtonCssState => ViewModel.PrevPageCommand.CanExecute(null) ? "" : DisabledCssClass;
    protected string NextButtonCssState => ViewModel.NextPageCommand.CanExecute(null) ? "" : DisabledCssClass;


    protected BoardListViewModel ViewModel { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewModel = viewModel;
        ViewModel.Load();
    }

    protected void Refresh()
    {
        ViewModel.UpdateCommand.Execute(null);
    }

    protected void NavigateToCreate() => NavigationManager.NavigateTo($"board/create");

    protected void Delete(Guid boardId) => NavigationManager.NavigateTo($"board/delete/{boardId}");

    protected void Edit(Guid boardId) => NavigationManager.NavigateTo($"board/edit/{boardId}");

    protected void Prev() => ViewModel.PrevPageCommand.Execute(null);

    protected void Next() => ViewModel.NextPageCommand.Execute(null);
}